[user]
    name = Dan Persa
    email = dan.persa@gmail.com
[push]
        default = simple
[core]
        excludesfile = /Users/dpersa/.gitignore_global
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
  type = cat-file -t
  dump = cat-file -p

